In [1]:
import pandas as pd
import datetime
import dateparser
import numpy as np
from datetime import date

### Nº de Baixas Por Isolamento

In [2]:
def baixas_all_data():
    df_baixas = pd.read_csv('original_files/Baixas por Isolamento.csv')
    #Select the relevant information, deleting the first 8 rows
    df_baixas = df_baixas.iloc[6:]
    baixas = df_baixas[df_baixas.columns[:3]]
    #Reset indexes
    baixas.reset_index(drop=True, inplace=True)
    #Get indexes that separate tables
    b = np.concatenate(( [True], pd.isnull(baixas.iloc[:,0]), [True] )) 
    indexes = np.flatnonzero(b[1:] != b[:-1]) 
    baixas_all = baixas[indexes[0]:indexes[1]]
    #dropping rows with nan values
    baixas_all.dropna(inplace=True)
    #renaming the columns
    baixas_all.columns = ['DATA', 'POR DIA', 'ACUMULADOS']
    #fomatting the date 
    baixas_all['DATA'] = baixas_all['DATA'].apply(dateparser.parse)
    baixas_all.to_csv(r'dataframes/baixas_all.csv', index = False)
    return baixas_all

In [3]:
def baixas_distrito_data():
    df_baixas = pd.read_csv('original_files/Baixas por Isolamento.csv')
    #Select the relevant information, deleting the first 8 rows
    df_baixas = df_baixas.iloc[6:]
    baixas = df_baixas[df_baixas.columns[:3]]
    #Reset indexes
    baixas.reset_index(drop=True, inplace=True)
    #Get indexes that separate tables
    b = np.concatenate(( [True], pd.isnull(baixas.iloc[:,0]), [True] )) 
    indexes = np.flatnonzero(b[1:] != b[:-1]) 
    baixas_distrito = baixas[indexes[4]:indexes[5]]
    #dropping rows with nan values
    baixas_distrito.dropna(axis=1, how='any', inplace=True)
    #renaming the columnsS']
    baixas_distrito.columns = ['DISTRITO', 'TOTAL']
    baixas_distrito.to_csv(r'dataframes/baixas_distrito.csv', index = False)
    return baixas_distrito

In [4]:
baixas_all_data().tail()

C:\Users\Ana\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Ana\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          DATA POR DIA ACUMULADOS
109 2020-06-18     346     128750
110 2020-06-19     239     128989
111 2020-06-20       8     128997
112 2020-06-21       4     129001
113 2020-06-22     220     129221

In [5]:
baixas_distrito_data()

C:\Users\Ana\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

                       DISTRITO   TOTAL
120                       TOTAL  129221
121                      AVEIRO   68108
122                        BEJA     391
123                       BRAGA    7694
124                    BRAGANÇA     493
125              CASTELO BRANCO     324
126                     COIMBRA    1574
127                       ÉVORA     263
128                        FARO    1549
129                      GUARDA     381
130                      LEIRIA    2211
131                      LISBOA    8760
132                  PORTALEGRE     204
133                       PORTO   24926
134                    SANTARÉM    2063
135                     SETÚBAL    2778
136            VIANA DO CASTELO    1334
137                   VILA REAL     392
138                       VISEU    1200
139  REGIÃO AUTÓNOMA DOS AÇORES    2248
140  REGIÃO AUTÓNOMA DA MADEIRA    2328

### Lay Off - Estimativa

In [27]:
def layoff_data():
    df_layoff = pd.read_csv('original_files/Layoff – Estimativa .csv')
    df_layoff.dropna(axis=0, how='any', inplace=True)
    df_layoff.columns = ['DATA', 'Nº NISS_EE', 'Nº TRABALHADORES', 
                            'REMUNERAÇÕES DECLARADAS']
    df_layoff.drop(['Nº NISS_EE'], axis=1, inplace=True) 
    df_layoff['DATA'] = df_layoff['DATA'].apply(lambda x: x.split(' ')[0])
    df_layoff['DATA'] = df_layoff['DATA'].apply(lambda x: x.replace('/', '-'))
    df_layoff['DATA'] = df_layoff['DATA'].apply(lambda x: x.split('-'))
    df_layoff['month'] = df_layoff['DATA'].apply(lambda x: x[1])
    df_layoff['day'] = df_layoff['DATA'].apply(lambda x: x[2] if len(x[0]) > 2 else x[0])
    df_layoff['year'] = df_layoff['DATA'].apply(lambda x: x[0] if len(x[0]) > 2 else x[2])
    df_layoff['DATA'] = pd.to_datetime(df_layoff[['day', 'month', 'year']])
    df_layoff.drop(['month', 'day', 'year'], axis=1, inplace=True) 
    df_layoff['DATA'] = df_layoff['DATA'].mask(df_layoff['DATA'].dt.year == 2021, 
                             df_layoff['DATA'] + pd.offsets.DateOffset(year=2020))
    df_layoff.to_csv(r'dataframes/df_layoff.csv', index = False)
    return df_layoff

In [28]:
layoff_data()

C:\Users\Ana\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:692: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  PerformanceWarning,

         DATA Nº TRABALHADORES REMUNERAÇÕES DECLARADAS
6  2020-03-31            72507                69174523
7  2020-04-01           231683               225500911
8  2020-04-02           350028               339900463
9  2020-04-03           425287               434790415
10 2020-04-04           551955               570960157
11 2020-04-05           566751               583655511
12 2020-04-06           572727            589001243.54
13 2020-04-07           641731             654727658.3
14 2020-04-08           729512            746301278.52
15 2020-04-09           796088            811077994.67
16 2020-04-10           868863            882742534.42
17 2020-04-11           883798            901547920.67
18 2020-04-12           903387            916598658.75
19 2020-04-13           909653            921889215.96
20 2020-04-14           938821            950948580.36
21 2020-04-15           980592            991044873.58
22 2020-04-16          1018244            1025372101.4
23 2020-04-17          1045187           1051781310.88
24 2020-04-18          1079347           1094397677.47
25 2020-04-19          1083062           1097691719.01
26 2020-04-20          1085824           1100631821.99
27 2020-04-21          1112312           1129520573.09
28 2020-04-22          1132572           1147338055.26
29 2020-04-23          1145660            1162468645.8
30 2020-04-24          1162159           1179346012.24
31 2020-04-25          1178380           1193033221.94
32 2020-04-26          1179816           1194227768.44
33 2020-04-27          1180769           1194991587.27
34 2020-04-28          1191323           1204553182.33
35 2020-04-29          1191323           1204553183.33
36 2020-04-30          1211880           1225110487.72
37 2020-05-01          1250124           1262031036.89
38 2020-05-02          1256266           1268635212.25
39 2020-05-03          1257766           1270025370.05
40 2020-05-04          1258938           1271008109.68
41 2020-05-05          1269728           1282185597.53
42 2020-05-06          1277526           1290784001.79
43 2020-05-07          1283774           1296586057.63
44 2020-05-08          1290003           1302478462.56
45 2020-05-09          1297284           1310193248.99
46 2020-05-10          1298468           1311195124.29
47 2020-05-11          1299115           1311783279.33
48 2020-05-12          1304013           1317116599.19
49 2020-05-13          1308646           1321827433.92
50 2020-05-14          1312047           1325015408.19
51 2020-05-15          1315187           1327878091.35
52 2020-05-16          1318893           1334509327.55
53 2020-05-17          1319393           1334950814.14
54 2020-05-18          1319584           1335111718.94
55 2020-05-19          1321931           1337420382.04
56 2020-05-20          1323435           1338890402.48
57 2020-05-21          1325635           1341053935.28
58 2020-05-26          1329401           1344475395.04
59 2020-05-27          1332114           1346686714.61
60 2020-06-02          1343852           1361803277.77
61 2020-06-05          1347145           1365024174.96
62 2020-06-09          1349103           1366880761.35
63 2020-06-16          1351414           1369194529.07
64 2020-06-23          1353556           1371257251.32

### Layoff – Estim. - CAE,Dim,Dist

#### DATA RELEVANT TO WORK SECTORS-Amount of companies on layoff

In [24]:
data1 = pd.read_csv('original_files/historical_data_company.csv')
data2 = pd.read_csv('original_files/Layoff – Estim. - CAE,Dim,Dist.csv')

In [25]:
#Select the relevant information, deleting the first 8 rows
df=data2.iloc[8:]

#import today´s date
today=date.today()

#Select the columns that are relevant to work sectors
df_work=df[df.columns[0:3]]
df_work=df_work.iloc[2:23]

#Rename columns
df_work=df_work.rename(columns={'EEs QUE ENTREGARAM DOCUMENTO - COVID19 - Layoff Simplificado':'Index','Unnamed: 1':'Setor',
                       'Unnamed: 2':today,'Unnamed: 3':'Nº TRABALHADORES','Unnamed: 4':'Feminino','Unnamed: 5':'Masculino'})

#Drop column
df_work=df_work.drop(['Index'],axis=1)
#Find total value for last report
total=sum(df_work[today])
total

#add new total row to new data
new_row=pd.Series(data={'Setor':'TOTAL',today:total})
df_work=df_work.append(new_row, ignore_index=True)

In [4]:
#merge historical data with new data
new_historical=pd.merge(left=data1, right=df_work, left_on='Setor', right_on='Setor')
new_historical=new_historical.sort_values(by=[today],ascending=False)
new_historical

,Unnamed: 0,Setor,2020-04-17,2020-04-20,2020-04-23,2020-04-24,2020-04-27,2020-04-29,2020-04-30,2020-05-04,...,2020-05-13,2020-05-14,2020-05-15,2020-05-19,2020-05-21,2020-05-27,2020-06-03,2020-06-09,2020-06-16,2020-06-27
1,A,"Agricultura, produção animal, caça, floresta e...",581,614,660,675,687,712,728,755,...,818,824,827,833,839,848,860,864,865,871
17,Q,Actividades de saúde humana e apoio social,6328,6534,6870,6962,7063,7180,7258,7428,...,7703,7727,7741,7767,7789,7831,7867,7922,7935,7947
8,H,Transportes e armazenagem,4137,4357,4734,4859,5001,5203,5322,5612,...,6084,6121,6153,6231,6288,6362,6458,6519,6560,6591
2,B,Indústrias extractivas,42,45,47,47,47,51,51,53,...,59,59,59,63,63,63,63,64,64,64
19,S,Outras actividades de serviços,4266,4433,4714,4776,4857,4975,5047,5182,...,5419,5439,5449,5475,5500,5535,5574,5601,5613,5624
0,s/CAE,PESSOAS SINGULARES COM TRABALHADORES A CARGO,4017,4182,4467,4568,4652,4777,4852,5003,...,5256,5279,5289,5316,5335,5368,5409,5435,5455,5464
13,M,"Actividades de consultoria, científicas, técni...",3434,3588,3887,3956,4044,4180,4256,4498,...,4966,5001,5037,5087,5119,5173,5249,5296,5324,5340
15,O,Administração pública e defesa; segurança soci...,24,25,30,32,32,33,35,36,...,43,45,45,46,46,46,47,47,47,47
18,R,"Actividades artísticas, de espectáculos, despo...",3562,3685,3877,3938,3994,4074,4131,4229,...,4396,4415,4424,4439,4455,4489,4527,4543,4557,4574
20,T + U,Actividades das famílias empregadoras de pesso...,3,3,3,3,3,4,4,4,...,4,4,4,4,4,4,4,4,4,4
6,F,Construção,2499,2613,2827,2898,2957,3081,3169,3315,...,3666,3696,3713,3750,3780,3832,3886,3921,3931,3954
11,K,Actividades financeiras e de seguros,219,226,245,251,253,262,271,295,...,346,349,350,355,357,363,369,380,381,384
14,N,Actividades administrativas e dos serviços de ...,2658,2771,2961,3005,3043,3127,3175,3290,...,3509,3524,3542,3572,3595,3627,3664,3689,3703,3713
4,D,"Electricidade, gás, vapor, água quente e fria ...",26,26,29,31,32,32,32,32,...,35,35,35,35,35,35,35,35,35,35
16,P,Educação,2175,2237,2347,2381,2422,2477,2497,2564,...,2672,2680,2684,2689,2701,2715,2725,2732,2740,2748
9,I,"Alojamento, restauração e similares",20554,21156,22301,22664,22965,23399,23624,24091,...,24848,24917,24962,25055,25124,25244,25371,25455,25494,25538
7,G,Comércio por grosso e a retalho; reparação de ...,17330,18227,19816,20248,20711,21423,21767,22605,...,24124,24233,24332,24533,24658,24881,25108,25223,25293,25343
12,L,Actividades imobiliárias,1746,1825,1967,1999,2041,2112,2142,2235,...,2387,2400,2409,2422,2434,2467,2487,2511,2517,2520
5,E,"Captação, tratamento e distribuição de água; s...",165,174,195,197,203,210,212,218,...,231,233,233,236,237,241,244,246,246,247
10,J,Actividades de informação e de comunicação,922,959,1054,1075,1095,1133,1162,1225,...,1321,1331,1342,1354,1364,1379,1403,1421,1428,1432
3,C,Indústrias transformadoras,7542,7911,8566,8744,8956,9254,9405,9819,...,10629,10683,10746,10852,10918,11033,11199,11306,11367,11413

In [5]:
new_historical.to_csv('original_files/historical_data_company.csv')

#### DATA RELEVANT TO WORK SECTORS-Amount of people on layoff

In [2]:
data3 = pd.read_csv('original_files/historical_data_person.csv')
data4 = pd.read_csv('original_files/Layoff – Estim. - CAE,Dim,Dist.csv')

In [5]:
#Select the relevant information, deleting the first 8 rows
df=data2.iloc[8:]

#import today´s date
today=date.today()

#Select the columns that are relevant to work sectors
df_work=df[df.columns[0:4]]
df_work=df_work.iloc[2:23]

#Rename columns
df_work=df_work.rename(columns={'EEs QUE ENTREGARAM DOCUMENTO - COVID19 - Layoff Simplificado':'Index','Unnamed: 1':'Setor',
                       'Unnamed: 2':'Nº NISS_EE','Unnamed: 3':today,'Unnamed: 4':'Feminino','Unnamed: 5':'Masculino'})

#Drop column
df_work=df_work.drop(['Index','Nº NISS_EE'],axis=1)

#Add Total Column
total=sum(df_work[today])
total

#add new total row
new_row=pd.Series(data={'Setor':'TOTAL',today:total})
df_work=df_work.append(new_row, ignore_index=True)

df_work

                                                Setor 2020-06-29
10      PESSOAS SINGULARES COM TRABALHADORES A CARGO       10361
11  Agricultura, produção animal, caça, floresta e...       7035
12                             Indústrias extractivas       1026
13                         Indústrias transformadoras     302649
14  Electricidade, gás, vapor, água quente e fria ...        644
15  Captação, tratamento e distribuição de água; s...       4019
16                                         Construção      54088
17  Comércio por grosso e a retalho; reparação de ...     244856
18                          Transportes e armazenagem      68152
19                Alojamento, restauração e similares     234591
20        Actividades de informação e de comunicação       24374
21               Actividades financeiras e de seguros       5268
22                           Actividades imobiliárias      16931
23  Actividades de consultoria, científicas, técni...      50600
24  Actividades administrativas e dos serviços de ...     150065
25  Administração pública e defesa; segurança soci...       1316
26                                           Educação      35070
27         Actividades de saúde humana e apoio social      95926
28  Actividades artísticas, de espectáculos, despo...      25507
29                     Outras actividades de serviços      34160
30  Actividades das famílias empregadoras de pesso...         20

In [8]:
#merge historical data with new data
new_historical = pd.merge(left=data3, right=df_work, left_on='Setor', right_on='Setor')
new_historical=new_historical.sort_values(by=[today],ascending=False)
new_historical

,Unnamed: 0,Unnamed: 0.1,Setor,2020-04-17,2020-04-20,2020-04-23,2020-04-24,2020-04-27,2020-04-29,2020-04-30,...,2020-05-13,2020-05-14,2020-05-15,2020-05-19,2020-05-21,2020-05-27,2020-06-03,2020-06-09,2020-06-16,2020-06-29
17,17,Q,Actividades de saúde humana e apoio social,70938,75602,80920,82671,84392,85851,86961,...,91816,92126,92542,92842,93392,93878,94573,95543,95651,95926
1,1,A,"Agricultura, produção animal, caça, floresta e...",5252,5521,5824,5913,5964,6068,6126,...,6628,6688,6697,6724,6923,6947,7007,7016,7019,7035
8,8,H,Transportes e armazenagem,56195,57252,60642,61409,61779,62452,63109,...,66238,66443,66615,66973,67158,67450,67764,67987,68085,68152
4,4,D,"Electricidade, gás, vapor, água quente e fria ...",564,564,571,579,580,580,580,...,644,644,644,644,644,644,644,644,644,644
6,6,F,Construção,39280,40560,43216,44928,45515,46482,47162,...,52210,52376,52440,52701,52834,53263,53608,53956,53981,54088
11,11,K,Actividades financeiras e de seguros,3387,3433,3966,3979,3982,4094,4154,...,5100,5110,5112,5131,5187,5195,5225,5253,5255,5268
13,13,M,"Actividades de consultoria, científicas, técni...",30729,31791,33727,34046,34368,35066,35357,...,48646,48958,49095,49337,49514,49805,50219,50446,50538,50600
5,5,E,"Captação, tratamento e distribuição de água; s...",1371,1525,1620,1623,1638,1711,1715,...,3856,3944,3944,3955,3957,3963,3988,4016,4016,4019
16,16,P,Educação,25496,27337,29184,29654,30203,31974,32248,...,34456,34482,34568,34600,34687,34770,34876,34905,34995,35070
19,19,S,Outras actividades de serviços,26635,27287,29039,29504,29977,30561,31357,...,33253,33382,33359,33439,33553,33674,33955,34074,34131,34160
3,3,C,Indústrias transformadoras,206982,224283,239370,245220,250698,255695,258531,...,285309,286049,287384,290163,290935,292646,299117,300926,301984,302649
18,18,R,"Actividades artísticas, de espectáculos, despo...",21628,22144,22894,23186,23318,23555,23678,...,24722,24806,24828,24931,24999,25155,25331,25428,25465,25507
7,7,G,Comércio por grosso e a retalho; reparação de ...,190014,196472,209146,211522,214844,219722,221481,...,237798,238491,238931,240099,240935,242252,243601,244211,244535,244856
10,10,J,Actividades de informação e de comunicação,19119,19430,21196,21332,21408,21909,22270,...,23703,23779,23864,23967,24034,24103,24246,24326,24355,24374
9,9,I,"Alojamento, restauração e similares",207515,211129,218502,220211,221755,224069,224953,...,231054,231366,231597,232129,232433,233038,233729,234138,234331,234591
20,20,T + U,Actividades das famílias empregadoras de pesso...,19,19,19,19,19,20,20,...,20,20,20,20,20,20,20,20,20,20
12,12,L,Actividades imobiliárias,13393,13730,14317,14424,14599,14842,14983,...,16410,16485,16528,16584,16654,16774,16842,16895,16910,16931
14,14,N,Actividades administrativas e dos serviços de ...,126278,127316,131207,131566,135711,136620,136980,...,147266,147344,147475,147941,148034,148887,149466,149699,149889,150065
15,15,O,Administração pública e defesa; segurança soci...,791,816,918,948,948,1002,1037,...,1225,1267,1267,1294,1294,1294,1316,1316,1316,1316
0,0,s/CAE,PESSOAS SINGULARES COM TRABALHADORES A CARGO,7694,7982,8574,8734,8880,9141,9299,...,10008,10042,10057,10101,10143,10200,10270,10308,10340,10361
2,2,B,Indústrias extractivas,588,647,675,683,684,727,727,...,785,788,788,1019,1019,1019,1019,1026,1026,1026

In [9]:
new_historical.to_csv('original_files/historical_data_person.csv')

#### DATA RELEVANT TO ORGANIZATION DIMENSION

In [ ]:
data5 = pd.read_csv('original_files\historical_data_company_size.csv')
data5=data5.drop(['Unnamed: 0'],axis=1)
data6 = pd.read_csv('original_files/Layoff – Estim. - CAE,Dim,Dist.csv')

In [11]:
#Create new dataset
df=data6 
# Search for row and column position of desired data
i, c = np.where(df == 'até 10 trabalhadores')
e, d=np.where(df=='>= 250 trabalhadores')
#Create names for data range, for easier identification
row_size=i+2
col1=(c+1)
col2=(d+1)
#Splice the data with the selected rows found on the previous step
df2=df.iloc[int(i):int(row_size),int(c):int(col2)]
#perform some data cleaning
df2=df2.reset_index()
df2=df2.drop('index',1)
df2.columns=df2.iloc[0]
df2=df2.drop([0])
#transpose the data to match the axis of the historical data
df2=df2.transpose()
df2=df2.reset_index()

#import today´s date
today=date.today()

#Rearrange column names
df2.columns=['TOTAL',today]
#Show data
df2

In [ ]:
#merge historical data with new data
new_historical = pd.merge(left=data5, right=df2, left_on='TOTAL', right_on='TOTAL')
new_historical=new_historical.sort_values(by=[today],ascending=False)
new_historical

In [ ]:
new_historical.to_csv('original_files/historical_data_company_size.csv')

#### DATA RELEVANT TO REGION

In [22]:
#Select new dataset
df=data4

#Drop all set of row and columns that are filled with NaN
df.dropna(axis=0, how='all', inplace=True)
df.dropna(axis=1, how='all', inplace=True)

#Delete the first rows that don't present any important information
df=df.iloc[9:]

#Search for the relevant information that presents the region information, and store the column number
lower=df.columns.get_loc("EEs QUE ENTREGARAM DOCUMENTO - COVID19 - Layoff Simplificado.1")
#Select the upper range of columns with relevant data
upper=lower+3

#filter the data with the selected parameters
df_region=df.iloc[:,lower:upper]
#rename columns and do some data cleaning
df_region=df_region.rename(columns={'EEs QUE ENTREGARAM DOCUMENTO - COVID19 - Layoff Simplificado.1':'Region',
                                    'Unnamed: 8':'N° Empresas',
                       'Unnamed: 9':'Percentual(%)'})
df_region['Region']=df_region['Region'].replace({'AVEIRO':'Aveiro','BEJA':'Beja','BRAGA':'Braga','BRAGANÇA':'Bragança',
                                                 'CASTELO BRANCO':'Castelo Branco','COIMBRA':'Coimbra','ÉVORA':'Évora',
                                                 'FARO':'Faro','GUARDA':'Guarda','LEIRIA':'Leiria','LISBOA':'Lisboa',
                                                 'PORTALEGRE':'Portalegre','PORTO':'Porto','SANTARÉM':'Santarém',
                                                 'SETÚBAL':'Setúbal','VIANA DO CASTELO':'Viana do Castelo',
                                                 'VILA REAL':'Vila Real','VISEU':'Viseu','R.A.AÇORES':'R.A.Açores',
                                                 'R.A.MADEIRA':'R.A.Madeira'})
df_region['Percentual(%)']=df_region['Percentual(%)']*100
df_region=df_region.reset_index()
df_region=df_region.drop('index',1)
df_region.dropna(axis=0, how='all', inplace=True)

#Show data
df_region

              Region N° Empresas  Percentual(%)
0             Aveiro        7496       6.554224
1               Beja        1009       0.882232
2              Braga       10932       9.558534
3           Bragança        1244       1.087707
4     Castelo Branco        1507       1.317665
5            Coimbra        3896       3.406518
6              Évora        1363       1.191757
7               Faro        7146       6.248197
8             Guarda        1388       1.213616
9             Leiria        5285       4.621007
10            Lisboa       27505      24.049349
11        Portalegre         749       0.654898
12             Porto       21698      18.971924
13          Santarém        3592       3.140711
14           Setúbal        6452       5.641389
15  Viana do Castelo        2604       2.276841
16         Vila Real        1981       1.732113
17             Viseu        3156       2.759489
18        R.A.Açores        2081       1.819549
19       R.A.Madeira        3239       2.832061
20    DESCONHECIDO/A          46       0.040221

In [23]:
df_region.to_csv(r'dataframes/organization_region.csv', index = False)

### Redução de Actividade TI e MOE

#### Redução de atividade por Dia

In [49]:
def reducao_atividade_byday():
    
    reducao_atividade=pd.read_csv('original_files/Redução de Actividade TI e MOE.csv')
    # Drop rows with no info
    reducao_atividade.dropna(how='all',inplace=True)
    # Reset indexes
    reducao_atividade.reset_index(drop=True, inplace=True)
    # Get indexes that separate tables
    m = np.concatenate(( [True], reducao_atividade.iloc[:,1:13].isna().all(axis=1), [True] )) 
    indexes = np.flatnonzero(m[1:] != m[:-1])
    # Separate tables
    red_byday = reducao_atividade[indexes[0]+2:indexes[1]]
    
    # Clean byday table 
    red_byday=red_byday.dropna(axis=1,how='all')
    red_byday.columns = ['DATA', 'TI_ParagemTotal', 'TI_Reducao','TI_Total', 'PRO_TI_ParagemTotal', 'PRO_TI_Reducao','PRO_TI_Total', 'MOE_ParagemTotal', 'MOE_Reducao','MOE_Total', 'PRO_MOE_ParagemTotal', 'PRO_MOE_Reducao','PRO_MOE_Total']

    # Formatting the date - sometimes some values are already of data type
#     date_inds=pd.notnull(pd.to_datetime(red_byday['DATA'],errors='coerce'))
#     if date_inds.index[date_inds].size > 0:
#         red_byday['DATA'][date_inds]=red_byday['DATA'][date_inds].dt.strftime('%d/%b')
    red_byday['DATA'] = red_byday['DATA'].apply(dateparser.parse,date_formats=['%d/%b'])

    # Remove columns that dont have datetype in DATA, for example columns with the TOTAL
    red_byday.dropna(subset=['DATA'],inplace=True)
    # Reset indexes
    red_byday.reset_index(drop=True, inplace=True)

    # Save csv
    red_byday.to_csv(r'dataframes/reducao_atividade_porDia.csv', index = False)

#### Redução de atividade por Distrito

In [45]:
def reducao_atividade_bydistrict():
    
    reducao_atividade=pd.read_csv('original_files/Redução de Actividade TI e MOE.csv')
    # Drop rows with no info
    reducao_atividade.dropna(how='all',inplace=True)
    # Reset indexes
    reducao_atividade.reset_index(drop=True, inplace=True)
    # Get indexes that separate tables
    m = np.concatenate(( [True], reducao_atividade.iloc[:,1:13].isna().all(axis=1), [True] )) 
    indexes = np.flatnonzero(m[1:] != m[:-1])
    # Separate tables
    red_bydistrict = reducao_atividade[indexes[2]:indexes[3]]
    
    red_bydistrict_months=red_bydistrict
    # Clean bydistrict table 
    red_bydistrict_months.reset_index(drop=True, inplace=True)
    red_bydistrict_months=red_bydistrict_months.set_index(red_bydistrict_months.columns.values[0])
    red_bydistrict_months.index.name='Distritos'
    # Find columns corresponding to the total counts
    checknull_months=red_bydistrict_months.iloc[1].notnull() 
    checktotal_months=red_bydistrict_months.iloc[1].str.lower()!='total'
    checknull_title=red_bydistrict_months.iloc[0].notnull()
    # Generate multi level columns
    col_indexes=np.nonzero(checknull_title.array)
    col_indexes=col_indexes[0]
    columns=[]
    for j in range(4):
        if j<3: 
            max_range=col_indexes[j+1]
        else:
            max_range=red_bydistrict_months.shape[1]
        for i in range(col_indexes[j],max_range):
            columns.append((red_bydistrict_months.iloc[0,col_indexes[j]],red_bydistrict_months.iloc[1,i]))
    red_bydistrict_months.columns = pd.MultiIndex.from_tuples(columns,names=['Type', 'Month'])
    # Get columns concerning each month
    red_bydistrict_months=red_bydistrict_months.iloc[2:, checknull_months.array & checktotal_months.array]
    
    # Create dataframe with total counts for each district
    red_bydistrict_months=red_bydistrict_months.astype('int64')
    red_bydistrict_total=red_bydistrict_months.groupby(level=['Type'],axis=1).sum()
    red_bydistrict_total.columns=['PRO_MOE','PRO_TI','MOE','TI']

    # Save csvs (per month and total)
    red_bydistrict_months.to_csv(r'dataframes/reducao_atividade_porDistrito_porMes.csv')
    red_bydistrict_total.to_csv(r'dataframes/reducao_atividade_porDistrito_Total.csv')
    
    ## APPEND TO HISTORICAL DATA
    # Transform columns into indexes
    df_aux=red_bydistrict_total.stack().to_frame()
    # Change columns to the file's date
    df_aux.columns=[date.today()]

    # Import dataframe with historical data
    red_bydistrict_historical=pd.read_csv('dataframes/reducao_atividade_bydistrict_historicalData.csv',index_col=[0,1])
    # Append to dataframe with historical data for reducao de atividade por distrito
    red_bydistrict_historical=pd.concat([red_bydistrict_historical,df_aux],axis=1,join='outer')
    red_bydistrict_historical.to_csv('dataframes/reducao_atividade_bydistrict_historicalData.csv')

#### Redução de atividade por Sexo

In [46]:
def reducao_atividade_bysex():
    
    reducao_atividade=pd.read_csv('original_files/Redução de Actividade TI e MOE.csv')
    # Drop rows with no info
    reducao_atividade.dropna(how='all',inplace=True)
    # Reset indexes
    reducao_atividade.reset_index(drop=True, inplace=True)
    # Get indexes that separate tables
    m = np.concatenate(( [True], reducao_atividade.iloc[:,1:13].isna().all(axis=1), [True] )) 
    indexes = np.flatnonzero(m[1:] != m[:-1])
    # Separate tables
    red_bysex = reducao_atividade[indexes[4]+2:indexes[5]]
    
    # Clean bysex table 
    red_bysex=red_bysex.dropna(axis=1)
    red_bysex.columns=['TipoPedido','Total','Feminino','Masculino']
    if len(red_bysex.iloc[:,0])==3:
        red_bysex.iloc[:,0]=['Trabalhador Independente','Prorrogação Trabalhador Independente','Membro Orgão Estatutário']
    elif len(red_bysex.iloc[:,0])==4:
        red_bysex.iloc[:,0]=['Trabalhador Independente','Prorrogação Trabalhador Independente','Membro Orgão Estatutário','Prorrogação Membro Orgão Estatutário']
    red_bysex.reset_index(drop=True, inplace=True)

    # Save csv
    red_bysex.to_csv(r'dataframes/reducao_atividade_porSexo.csv', index = False)
    
    ## APPEND TO HISTORICAL DATA
    # Transform columns into indexes
    red_bysex_new=red_bysex.set_index('TipoPedido').stack().to_frame()
    # Change columns to the file's date
    red_bysex_new.columns=[date.today()]

    # Import dataframe with historical data
    red_bysex_historical=pd.read_csv('dataframes/reducao_atividade_bysex_historicalData.csv',index_col=[0,1])
    # # Append to dataframe with historical data for reducao de atividade por sexo
    red_bysex_historical=pd.concat([red_bysex_historical,red_bysex_new],axis=1,join='outer')
    red_bysex_historical.to_csv('dataframes/reducao_atividade_bysex_historicalData.csv')

### Despedimentos coletivos

In [47]:
def despedimentos_coletivos():
    despedimentos=pd.read_csv('original_files/Despedimentos coletivos.csv')
    # Drop first column which is empty
    despedimentos=despedimentos.drop(despedimentos.columns[0],axis=1)
    # Drop rows with nan
    despedimentos.dropna(inplace=True)
    despedimentos.reset_index(drop=True, inplace=True)
    # Rename columns
    despedimentos.columns = ['DATA', 'COLETIVOS_TOTAL', 'COLETIVOS_MICRO','TRABALHADORES_TOTAL', 'TRABALHADORES_MICRO']
    # Save csv
    despedimentos.to_csv(r'dataframes/despedimentos_coletivos.csv', index = False)